@model DiplomsClassLibrary.Models.Position

@{
    ViewData["Title"] = "PositionAdd";
}

<h1>ДОБАВИТЬ ДОЛЖНОСТЬ</h1>

<form asp-action="Add" asp-controller="Position" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Должность</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="user-select:none; text-align:left; min-width:350px">
                    <input style="width:100%" placeholder="Name" value="@Model.Name" name="Name" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
    <input class="commit-button" type="submit" value="Добавить должность" />
</form>