@model DiplomsClassLibrary.Models.Position

@{
    ViewData["Title"] = "PositionEdit";
}

<h1>ИЗМЕНИТЬ ДОЛЖНОСТЬ</h1>

<form asp-action="Edit" asp-controller="Position" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Должность</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="user-select:none; text-align:left; min-width:150px">
                    <input type="text" name="Name" value="@Model.Name" />
                </td>
                <td style="user-select:none; text-align:center">
                    <input class="commit-button" type="submit" value="Подтвердить" />
                </td>
            </tr>
        </tbody>
    </table>
</form>

<form asp-action="Remove" asp-controller="Position" asp-route-id="@Model.Id" method="post">
    <input class="delete-button" type="submit" value="Удалить" />
</form>