@model IEnumerable<DiplomsClassLibrary.Models.Position>

<h1>ДОЛЖНОСТИ</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><p />Название</td>
            <td>Измененить</td>
        </tr>
    </thead>

    <tbody>
        @if (Model != null) foreach (var position in Model)
            {
                <tr>
                    <td style="user-select:none; text-align:left; min-width:200px">
                        @position.Name
                    </td>

                    <td style="user-select:none; text-align:left; min-width:100px; text-align:center">
                        <div>
                            <a class="commit-button" asp-controller="Position" asp-action="Edit" asp-route-id="@position.Id">Изменить</a>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>

<a class="commit-button" asp-controller="Position" asp-action="Add">Добавить</a>